---
import CopyEmailCard from "@/components/CopyEmailCard";
import LocationIcon from '@/components/icons/LocationIcon.astro';
import TimeIcon from '@/components/icons/TimeIcon.astro';
---

<section class="bg-[#f9f9f9] py-45 pt-40">
  <div class="mx-auto max-w-7xl px-6">
    <div class="text-center mb-10">
      <h2 class="text-5xl font-bold mb-10">
        <span class="bg-yellow-300 px-3 border-2 border-black">Contacto</span>
      </h2>
      <p class="mt-4 text-xl text-gray-700">
        Estoy disponible para colaboraciones, propuestas laborales o cualquier iniciativa relacionada con la programación.
      </p>
    </div>

    <div class="bg-white border-2 border-black p-16 md:px-16 shadow-lg flex flex-col md:flex-row justify-between items-center">
      <div>
        <h3 class="text-5xl font-bold">Disponible para</h3>
        <p class="text-5xl font-bold mt-2">
          <span class="bg-yellow-300 px-2 border-2 border-black">Propuestas y Desafíos</span>
        </p>
        <p class="mt-8 text-gray-700 text-lg">
          Para contactarme no dudes en enviarme un correo electrónico
          <span class="block">o escribirme por LinkedIn :)</span>
        </p>
        <div class="mt-8 space-y-4">
          <!-- Icono Location con cuadro amarillo y borde negro -->
          <div class="flex items-center gap-2">
            <div class="flex items-center justify-center w-12 h-12 bg-[#FFDB33] border-2 border-black rounded-[5px]">
              <LocationIcon class="w-6 h-6" />
            </div>
            <span>Lima, Perú</span>
          </div>
          <!-- Icono Time con cuadro amarillo y borde negro -->
          <div class="flex items-center gap-2 mt-4">
            <div class="flex items-center justify-center w-12 h-12 bg-[#FFDB33] border-2 border-black rounded-[5px] ">
              <TimeIcon class="w-6 h-6" />
            </div>
            <span>GMT -5</span>
          </div>
        </div>
      </div>
      <CopyEmailCard client:load />
    </div>
  </div>
</section>

