---
import { Button } from '@/components/ui/button.tsx';;
import CopyIcon from '@/components/icons/CopyIcon.tsx';
import LocationIcon from '@/components/icons/LocationIcon.astro';
import TimeIcon from '@/components/icons/TimeIcon.astro';
---

<section class="bg-[#f9f9f9] py-16 mt-16">
  <div class="mx-auto max-w-7xl px-6">
    <!-- Título -->
    <div class="text-center mb-10">
      <h2 class="text-5xl font-bold mb-10">
        <span class="bg-yellow-300 px-3 border-2 border-black ">Contacto</span>
      </h2>
      <p class="mt-4 text-xl text-gray-700">
        Estoy disponible para colaboraciones, propuestas laborales o cualquier iniciativa relacionada con la programacion.
      </p>
    </div>

    <!-- Contenido principal -->
    <div class="bg-white border-2 border-black p-16 md:px-16 shadow-lg flex flex-col md:flex-row justify-between items-center">
      <!-- Información -->
      <div>
        <h3 class="text-5xl font-bold">Disponible para</h3>
        <p class="text-5xl font-bold mt-2">
          <span class="bg-yellow-300 px-2 border-2 border-black">Propuestas y Desafíos</span>
        </p>
        <p class="mt-8 text-gray-700 text-lg">
          Para contactarme no dudes en enviarme un correo electrónico
          <span class="block">o escribirme por LinkedIn :)</span>
        </p>
        <div class="mt-8 space-y-4">
          <div class="flex items-center gap-2">
            <LocationIcon class="w-6 h-6" />
            <span>Lima, Perú</span>
          </div>
          <div class="flex items-center gap-2">
            <TimeIcon class="w-6 h-6" />
            <span>GMT -5</span>
          </div>
        </div>
      </div>
      <!-- Formulario de correo -->
      <div class="relative flex items-center ">
        <!-- Cuadro amarillo como sombra detrás -->
        <div class="absolute inset-0 translate-x-3 translate-y-3 bg-yellow-300 border-2 border-black "></div>

        <!-- Cuadro blanco con el contenido -->
        <div class="relative bg-white border-2 border-black w-120 p-6">
          <label for="email" class="block text-lg font-bold mb-2">Correo Electrónico</label>
          <div class="flex items-center gap-2">
            <input
              id="email"
              type="text"
              value="fabrizziozv.17@gmail.com"
              readonly
              class="flex-1 border-2 border-black p-2 text-gray-700"
            />
            <Button
              variant="neutral"
              className="flex items-center gap-2 px-4 py-2"
            >
              Copiar
              <CopyIcon className="w-5 h-5" />
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>