---

---

<section class="bg-white mt-16 py-24">
  <div class="mx-auto max-w-7xl px-6">
    <!-- Título -->
    <div class="text-center mb-10">
      <h2 class="text-5xl font-bold mb-10">
        <span class="bg-yellow-300 px-2 border-2 border-black">Experiencia</span> Laboral
      </h2>
      <p class="mt-4 text-lg text-gray-700">
        Experiencia que adquirí a través de prácticas preprofesionales durante mi formación como técnico en desarrollo de software.
      </p>
    </div>

    <!-- Timeline -->
    <div class="relative">
      <!-- Línea vertical -->
      <div class="absolute left-4 top-0 h-full w-1 bg-black"></div>

      <!-- Experiencia 1 -->
      <div class="flex items-start mb-12">
        <!-- Punto amarillo -->
        <div class="relative z-10 w-8 h-8 bg-yellow-300 border-2 border-black rounded-full flex-shrink-0"></div>
        <!-- Contenido -->
        <div class="flex justify-between w-full ml-8">
          <!-- Información de la experiencia -->
          <div>
            <h3 class="text-2xl font-bold">
              Desarrollor Full - Stack
            </h3>
            <p class="text-lg text-gray-600">Matrioska</p>
            <p class="text-sm text-gray-500">Agosto 2024 - Diciembre 2024</p>
          </div>
          <!-- Descripción -->
          <div class="ml-8 text-gray-700 max-w-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lectus lacus, pretium eget massa eget, semper sagittis dolor. Nullam efficitur libero in pellentesque consequat.
          </div>
        </div>
      </div>

      <!-- Experiencia 2 -->
      <div class="flex items-start">
        <!-- Punto amarillo -->
        <div class="relative z-10 w-8 h-8 bg-yellow-300 border-2 border-black rounded-full flex-shrink-0"></div>
        <!-- Contenido -->
        <div class="flex justify-between w-full ml-8">
          <!-- Información de la experiencia -->
          <div>
            <h3 class="text-2xl font-bold">
              Desarrollor Front - End
            </h3>
            <p class="text-lg text-gray-600">Chelas Grill</p>
            <p class="text-sm text-gray-500">Agosto 2024 - Diciembre 2024</p>
          </div>
          <!-- Descripción -->
          <div class="ml-8 text-gray-700 max-w-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lectus lacus, pretium eget massa eget, semper sagittis dolor. Nullam efficitur libero in pellentesque consequat.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

